@import 'utilities';
.intro-background {
    @include full-space-absolute-block;
    @include flex-center('true', 'true');
    background: #143d5d;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    overflow: hidden;
    .intro-heading {
        
        span{
            transition: .5s;
            position: relative;
            left: 0;
        }
        &.not-animated {
            span.left-intro-text {
                left: -200%;
            }
            span.right-intro-text {
                left: 200%;
            }
        }
    }
    
}

