@import 'utilities';
.intro-background {
    @include full-space-absolute-block;
    @include flex-center('true', 'true');
    background: #143d5d;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    overflow: hidden;
    .intro-heading {
        transition: .5s;
        &.not-animated {
            opacity: 0;
            letter-spacing: 1000px;
        }
    }
    
}

