@import "utilities";
section.gallery {
  display: grid;
  grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img4"
    "img8 img8 img9 img4";

  .gallery-item {
    background-size: cover;
    background-position: center;
    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        grid-area: img#{$i};
      }
    }
    &:nth-child(1) {
      background-image: url("../media/1st\ rev\ pics/1st.jpeg");
    }
    &:nth-child(2) {
      background-image: url("../media/1st\ rev\ pics/1st.jpg");
    }
    &:nth-child(3) {
      background-image: url("../media/1st\ rev\ pics/1st1.jpg");
    }
    &:nth-child(4) {
      background-image: url("../media/1st\ rev\ pics/1st-inventions.jpg");
    }
    &:nth-child(5) {
      background-image: url("../media/1st\ rev\ pics/1st2.jpg");
    }
    &:nth-child(6) {
      background-image: url("../media/1st\ rev\ pics/1st5.jpg");
    }
    &:nth-child(7) {
      background-image: url("../media/1st\ rev\ pics/1st-inventions2.jpg");
    }
    &:nth-child(8) {
      background-image: url("../media/1st\ rev\ pics/1st34.jpg");
    }
    &:nth-child(9) {
      background-image: url("../media/1st\ rev\ pics/1st-inventions3.jpg");
    }
  }
}

.black-gallery-overlay {
  @include overlay;
  z-index: 200;
  .gallery-container {
    margin: 0 auto;
    position: fixed;
    max-height: 600px;
    width: 98%;
    z-index: 201;
    color: #fff;

    &.auto-width {
      width: auto;
    }

    .wrapper {
      display: flex;
      position: relative;
      .close-icon {
        font-size: 2rem;
        position: absolute;
        right: 40px;
        top: calc(-2rem - 10px);
      }
      .current-img {
        height: 35vw;
        position: relative;
        display: inline-block;

        img {
          width: auto;
          box-shadow: 10px 10px 10px #000;
        }
        .go-icon {
          font-size: 2rem;
          position: absolute;
          top: 0;
          bottom: 0;
          @include flex-center;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 0 10px;

          &-back {
            left: 0;
          }
          &-forward {
            right: 0;
          }
        }
      }
    }
    .current-info {
      padding: 0 20px;
    }
  }
}

section.info {
  padding: 4rem 1rem;
  p {
    padding: 20px 0;
    text-align: justify;
  }
  .flex-row {
    .info-img {
      flex: 0.5;
    }
    .text-1 {
      h3 {
        color: #395257;
        font-size: 2rem;
        text-align: center;
      }
    }
    p {
      padding: 20px;
    }
  }
}
